/*
COLOR PALETTE

BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770
*/


/****** VARIABLES ******/

:root {

    /*COLORS*/
  
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2.25rem;
    --fs-title: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/
body {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    background: #201a23;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.body-container {
    width: 90%;
    margin: 10px auto 0 auto;
}

img {
    max-width: 220px; 
    border: 4px solid #44354A;
    border-radius: 50%;
    margin-bottom: 1rem;
}

main {
    width: 100%;
}

.products-container {
    margin-bottom: 1.25rem;
}

button {
    width: 80px;
    height: 40px;
    background: #9e4770;
    border: none;
    border-radius: 6px;
    font-size: var(--fs-s);
}

button:hover {
    transform: scale(1.1);
    transition: all .5s ease;
}

/* putting focus state on button keeps style active if its clicked. */
button:focus {
    background: #662845;
}

button:active {
    background: #662845;
    width: 180px;
    height: 70px;
}


.star-btn { 
    margin-right: .875rem;
}

.sales-container,
.achv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.sales-title-container,
.achv-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2,
p {
    font-size: var(--fs-s);
}

p {
    margin-left: 5px;
}

.emoji-container {
    background: #44354a;
    /* changed height to keep containers flexible to fit emojis */
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    padding: .5rem 0;
}

.totals-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.revenue-container,
.commission-container {
    width: 100%;
}

.revenue,
.commission {
    font-size: var(--fs-m);
    background: #44354a;
    border-radius: 50px;
    width: 95%;
    margin-bottom: 1rem;
}

@media screen and (min-width: 500px) {

    h1 { 
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    img {
        margin-bottom: 2rem;
    }
    
    button {
        width: 188px; 
        height: 80px; 
        font-size: var(--fs-title); 
        margin-bottom: 1rem;
    }
    
    .totals-container {
        flex-direction: row;
    }
    
    .revenue-container,
    .commission-container {
        width: 50%;
    }
    
    .revenue,
    .commission {
        font-size: var(--fs-title);
    }

    .sales-container {
        margin-bottom: 2rem;
   }
   
   .achv-container {
       margin-bottom: 3rem;
   }
    
    .revenue {
        margin-right: auto;
    }
    
    .commission {
        margin-left: auto;
    }
}
