/*
COLOR PALETTE

BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770
*/


/****** VARIABLES ******/

:root {

    /*COLORS*/
    --bg: #201a23;
    --field:#44354A;
    --button:#9e4770;
    --button-hover: #662845;
    --text: #fff;

    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2.25rem;
    --fs-title: 2.5rem;
}

.lightmode {
    --bg:  #f4e1ff;
    --field: #ceb2d8;
    --button: #cc90ac;
    --button-hover: #ce5f93;
    --text: #555;
}

/*====== MARGIN AND PADDING RESET ======*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*====== GLOBAL STYLES ======*/

body {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    background: var(--bg);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 220px; 
    border: 4px solid var(--field);
    border-radius: 50%;
    margin-bottom: 1rem;
}

h2,
p {
    font-size: var(--fs-s);
}

p {
    margin-left: 5px;
}


main {
    width: 100%;
}

button {
    width: 80px;
    height: 40px;
    background: var(--button);
    border: none;
    border-radius: 6px;
    font-size: var(--fs-s);
}

button:hover {
    background: var(--button-hover);
    transform: scale(1.1);
    transition: all .5s ease;
}

/* putting focus state on button keeps style active if its clicked. */
button:focus {
    background: var(--button-hover);
}

button:active {
    background: var(--button-hover);
    width: 180px;
    height: 70px;
}

.reset-btn {
    width: 60%;
    height: 50px;
    font-family: inherit;
    color: gold;
    font-size: var(--fs-m);
    letter-spacing: .2rem;   
}


.star-btn { 
    margin-right: .875rem;
}

/*====== LAYOUT ======*/

.body-container {
    width: 90%;
    margin: 10px auto 0 auto;
}

.products-container {
    margin-bottom: 1.25rem;
}

.sales-container,
.achv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.sales-title-container,
.achv-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.emoji-container {
    background: var(--field);
    /* changed height to keep containers flexible to fit emojis */
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    padding: .5rem 0;
}

.totals-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.revenue-container,
.commission-container {
    width: 100%;
}

.revenue,
.commission {
    font-size: var(--fs-m);
    background: var(--field);
    border-radius: 50px;
    width: 95%;
    margin-bottom: 2rem;
}


/*====== TOGGLE ======*/

label {
    width: 75px;
    height: 35px;
    position: relative;
    display: block;
    background-color: #44354a;
    margin: 0 auto .5em auto;
    border: 2px solid lightgray;
    border-radius: 200px;
    box-shadow: inset 0px 2px 5px black, inset 0px -2px 5px gray;
    cursor: pointer;
    transition: 0.3s;
}

label::after{
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 5px;
    background: linear-gradient(180deg, #0173ff, #3a3a3a);
    border-radius: 180px;
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label {
    background: #fff;
}

input:checked + label:after {
    left: 65px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.moon,
.sun {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    z-index: 100;
}

.moon {
    left: 7px;
    fill: #7e7e7e;
    transition: 0.3s;
}

.sun {
    right: 7px;
    fill: #fff;
    transition: 0.3s;
}


/*====== MEDIA QUERIES ======*/

@media screen and (min-width: 500px) {

    h1 { 
        font-size: 3rem;
        /* margin-top: 2rem; */
        margin-bottom: 1rem;
    }

    img {
        margin-bottom: 2rem;
    }
    
    button {
        width: 188px; 
        height: 80px; 
        font-size: var(--fs-title); 
        margin-bottom: 1rem;
    }
    
    .totals-container {
        flex-direction: row;
    }
    
    .revenue-container,
    .commission-container {
        width: 50%;
    }
    
    .revenue,
    .commission {
        font-size: var(--fs-title);
    }

    .sales-container {
        margin-bottom: 2rem;
   }
   
   .achv-container {
       margin-bottom: 3rem;
   }
    
    .revenue {
        margin-right: auto;
    }
    
    .commission {
        margin-left: auto;
    }

    label {
        margin: 0 0 .5em auto;
    }
}


